@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');


:root {
    --green100: #4dcbc5;
    --green110: #26827e;
    --green120: #1a5b58;
    --green130: hsl(177, 55%, 13%);
    --red: #FF4500;
    --grey100: #363f4f;
    --grey100-transparent: #363f4f83;
    --grey90: #4a576d;
    --grey80: #5f6f8c;
    --grey70: #7989a4;
    --grey60: #98a4b9;
    --grey50: #b6bfcd;
    --grey40: #f6f7f9;
    --white100: #FFFFFF;
    --font-main: 'Poppins', sans-serif;
    --font-alt: 'Merriweather', serif;
    --font-alt-2: 'Montserrat', sans-serif;
    --text-color-head: var(--grey90);
    --text-color-info: var(--grey90);
    --light-bg: var(--grey40);
    --gradient1: linear-gradient(to bottom right, #96E4DF -12%, #4DCCC6 76%);
}
* {
    box-sizing: border-box;
    font-family: var(--font-main);
}
html, body {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
    font-family: var(--font-alt);
    color: var(--text-color-head);
}